$bg-color: #eeeeee;

.timer-wrapper {
    position: relative;
}

.circle {
    position: relative;
    border: 8px solid #af0909;
    background: transparent;
    box-shadow: 0px 1px 4px 1px #962a2a;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
}

.line {
    width: 100%;
    height: 100%;
    border: solid 10px;
    border-color: #000 transparent transparent;
    border-radius: 58%;

    position: absolute;
    top: -10px;
    left: -10px;
}

#line1,
#line2,
#line3,
#line4 {
    border: solid 9px;
    top: -9px;
    left: -9px;
    border-color: $bg-color transparent transparent;
}

#line1 {
    transform: rotate(45deg);
    background: radial-gradient(transparent 67%, black);
}
#line2 {
    transform: rotate(135deg);
}
#line3 {
    transform: rotate(225deg);
}
#line4 {
    transform: rotate(315deg);
}