
.timer-counter {
  position: absolute;
  clip: rect(0px, 500px, 500px, 133px);
  
  &.showLeft {
    clip: inherit;
  }
}

.circle {
  position: relative;
  border: 10px solid #af0909;
  background: transparent;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: auto;
  position: absolute;

  &.--left {
    clip: rect(0px, 133px, 500px, 0px);
    top: -2px;
    left: -1px;
  }
  &.--right {
    top: -2px;
    left: -3px;
    clip: rect(0px, 500px, 500px, 133px);
  }

  &.bg-timer {
    border: 8px solid #eeeeee;
    box-shadow: 0px 1px 4px 1px #962a2a;
  }
}