.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 0em;
}

app-cycle-counter {
    margin-top: 4em;
}

app-action-buttons {
    margin-top: 3em;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #ffafaf;
    font-weight: 400;
}

footer a {
    color: #ffafaf;
}