:host {
    display: flex;
    flex-wrap: nowrap;
}

button.action {
    margin: 0 0.4em;
    border: none;
    font-size: 1.5em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #f23e3c;
}